VITE_SUPABASE_URL="https://jnpkfecrraomamhcjubw.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpucGtmZWNycmFvbWFtaGNqdWJ3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE0NjM0NiwiZXhwIjoyMDkyNzIyMzQ2fQ.ogo3gCSfAFUkb7VdiI-4ezrNxZ0ZmMnG-9hNo-M1b6M"
VITE_ADMIN_USER="admin"
VITE_ADMIN_PASS="123"
